<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../style.css?v=1.1">
</head>
<body>

<h2>Please enter registration details</h2>

<br>

<h2>
  <%= flash[:notice] %>
</h2>

<form class="" action="/registrations" method="post">
  <input type="email" name="email" placeholder="Email"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="first_name" name="first_name" placeholder="First Name"/>
  <input type="last_name" name="last_name" placeholder="Last Name"/>
  <input type="submit" value="Sign up"/>
</form>

</body>
</html>