<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css?v=1.1">
</head>
<body>

Your booking for <%= @space.name %> for <%= @booking.date %> is pending

<form class="" action="/spaces" method="get">
  <input type="submit" value="View more spaces"/>
</form>


<form class="" action="/requests" method="get">
  <input type="submit" value="See your bookings"/>
</form>

</body>
</html>