<h1>Welcome to MakersBnB!</h1>


<h2>Join us today</h2>

  <form action='/sign_up' method='post'>
    <input type="submit" value="Sign up">
  </form>

<br>
<br>
<br>

<h3>Already have an account?</h3>

  <form action='/log_in' method='post'>
    <input type="submit" value="Sign in">
  </form>
