<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../style.css?v=1.1">
</head>
<body>

<h1>Create listing</h1>
<form action='/spaces/list' method='post' id="dates_form">
  <input type='text' name='name' placeholder='Name'>
  <input type='text' name='description' placeholder='Description'>
  <input type='number' name='price' placeholder='Price (£)'>
  <input type='date' class='center' name='available_from'/>
  <input type='date' class='center' name='available_to'/>
  <input type='submit' value='Submit'/>
</form>

  </body>
</html>