<h1>Create listing</h1>
<form action='/spaces/list' method='post' id="dates_form">
  <input type='text' name='name' placeholder='name'>
  <input type='text' name='description' placeholder='description'>
  <input type='number' name='price' placeholder='price'>
  <input type='date' name='available_from'/>
  <input type='date' name='available_to'/>
  <input type='submit' value='Submit'/>
</form>