<p>Please select a date for <%= @space.name %></p>

<form action='/add_booking/<%= @space.id %>' method='post' id="dates_form">
  <select name="date_selector">
    <option>Select date</option>
    <% @available_date_arr.each do |date| %>
      <option>
      <%= date %>
      </option>
    <% end %>
  </select>
  <input type='submit' value='Submit'/>
</form>


