Please select a date for Space <%= @space.name %>

<form action='/add_booking/<%= @space.id %>' method='post' id="dates_form">
  <input type='date' name='date'/>
  <input type='submit' value='Submit'/>
</form>