<a href='/spaces/list'><button type='button' name='Add listing'>Add listing</button></a>
<a href='/requests' name='my_requests' id="my_requests">My requests</a>

<ul>
  <% @spaces.each do |space| %>
    <li>
      <a href = "/spaces/<%= space.id %>" target="_self">
        <%= space.name %>
      </a>
      - <%= space.description %>
    </li>
  <% end %>
</ul>

<form class="" action="/sessions" method="post">
  <input type="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="Sign out"/>
<form/>