<ul>
  <% @spaces.each do |space| %>
    <li>
      <a href = "/spaces/<%= space.id %>" target="_self">
        <%= space.name %>
      </a>
      - <%= space.description %>
    </li>
  <% end %>
</ul>