<h2>Please enter your login details</h2>

<h2>
  <%= flash[:notice] %>
</h2>

<form class="" action="/sessions" method="post">
  <input type="email" name="email" placeholder="Email"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Sign in"/>
</form>